/* tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.text_greadent {
    background: linear-gradient(to right, #797DFC,
            #797dfc4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}